[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
predection = "xU2NJKXuSyyrGC8ntDjUG6ESH1YB6CNtivV8MTG9YGV"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npx  ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
